@import 'tailwindcss';
body,
html {
  font-family: 'Nunito', sans-serif;
}

.services {
 box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@keyframes show{
from{
  opacity:0;
  scale:10%;
} to{
  opacity: 1;
  scale: 100%;
}
}

.scroll-show{
  view-timeline-name: --reveal;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline: --reveal;
  animation-range: entry 30% cover 40%;
}


