@import 'tailwindcss';
body,
html {
  font-family: 'Nunito', sans-serif;
}

.services {
  box-shadow: rgba(255, 12, 12, 0.6) 0px 2px 4px,
    rgba(255, 3, 3, 0.3) 0px 7px 13px -3px,
    rgba(255, 0, 0, 0.2) 0px -3px 0px inset;
}

.tech{
   filter: drop-shadow(0px 0px 15px rgba(255, 0, 0, 0.185));
}
@keyframes show {
  from {
    opacity: 0;
    scale: 0.7;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: unset;
  }
}

.scroll-show {
  view-timeline-name: --reveal;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline: --reveal;
  animation-range: entry 20% cover 50%;
}
